.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px
}

.nav {
    height: 84px;
    width: 100%;
    background: #001489
}

.logo {
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    width: 144px;
    height: 42px;
    margin-top: 22px;
    float: left
}

.wrapper {
    background: #FFF;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .1), 0 0 4px 1px rgba(0, 0, 0, .15)
}

.barra-produtos {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 6px
}

.produtos-container .row {
    background: 0 0
}

.produtos-container .row [class*=col-] {
    padding: 6px 0
}

.produtos-container h1 {
    margin: 30px 0;
    font-size: 26px;
    padding-left: 6px
}

.produtos-container a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    height: 58px;
    background-color: #f8f8f8;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin: 0 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    color: #1673c7
}

.produtos-container a:active,
.produtos-container a:focus,
.produtos-container a:hover,
.produtos-container a:visited {
    text-decoration: none;
    outline: 0
}

.produtos-container a:hover {
    color: #001489;
    background-color: #f3f3f3
}

.produtos-container a span {
    display: inline-block;
    font-size: 20px;
    line-height: 58px
}

.produtos-container a i {
    display: inline-block;
    float: left;
    margin: 13px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-image: url(../imagens/b_de_betha.png);
    background-repeat: no-repeat;
    background-position: 4px 3px
}

.lt-ie10 .produtos-container a,
.lt-ie9 .produtos-container a {
    display: inline-block;
    width: 96%
}

.lt-ie10 .produtos-container a:hover,
.lt-ie9 .produtos-container a:hover {
    background: #f2f2f2
}

.lt-ie10 .barra-produtos > li,
.lt-ie9 .barra-produtos > li {
    display: table-cell;
    width: 11%
}

@media screen and (max-height: 900px) {
    .produtos-container h1 {
        margin: 20px 0
    }

    .performance {
        margin: 30px auto 10px;
        padding-bottom: 30px
    }

    footer {
        margin-top: 20px
    }
}

@media screen and (max-width: 740px) {
    .produtos-container h1 {
        font-size: 5.5vw;
        text-align: center
    }

    .produtos-container .row [class*=col-] {
        padding: 4px 10px
    }

    .produtos-container a {
        height: 48px;
        background: #f7f7f7;
        border: 1px solid #DDD;
        border-radius: 0;
        margin: 0 4px;
        box-shadow: none
    }

    .produtos-container a span {
        line-height: 48px
    }

    .produtos-container a i {
        margin: 8px
    }

    .performance,
    footer {
        font-size: 11px
    }
}

.iv .bth {
    background: #001489 !important
}

.iv .mun {
    background-color: #a39382;
    border-color: #a39382
}

.iv .pla {
    background-color: #8986ca;
    border-color: #8986ca
}

.iv .arr {
    background-color: #26d07c;
    border-color: #26d07c
}

.iv .ate {
    background-color: #97999b;
    border-color: #97999b
}

.iv .com {
    background-color: #df4661;
    border-color: #df4661
}

.iv .pes {
    background-color: #009cde;
    border-color: #009cde
}

.iv .sau {
    background-color: #a9c47f;
    border-color: #a9c47f
}

.iv .edu {
    background-color: #ffd100;
    border-color: #ffd100
}

.iv .lei {
    background-color: #ed8b00;
    border-color: #ed8b00
}

.iv .gen {
    background-color: #001489;
    border-color: #001489
}
