<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Compras BETHA</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 50px;
            }
            #divTotal{
                background-color: green;
            }
            .affix{
                right: 0px;
            }
            .affix-top{
                right: 0px;
                position: fixed;
            }
        </style>
        <link rel="shortcut icon" href="images/favicon.ico" />
    </head>
    <body class="container" ng-app="ListaCompras">
        <div ng-controller="ComprasController as controller">
            <h1>Lista de Compras</h1>
            <div ng-show="controller.compra">
                <form id="formExemplo" data-toggle="validator" role="form" class="bd-example">
                    <div class="container" >
                        <div class="form-group">
                            <label for="nome">Nome da Compra: </label>
                            <input type="text" class="form-control" size="20" maxlength="80" id="nome" aria-describedby="descricaoHelp" ng-model="controller.compra.compras.nome" data-error="Por favor, informe um nome válido." required>
                            <small id="nomeHelp" class="form-text text-muted">Ex: Compras para o churrasco de domingo.</small>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="observacao">Observação</label>
                            <textarea class="form-control" id="observacao" rows="4" ng-model="controller.compra.compras.observacao"></textarea>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <label for="nome">Item</label>
                            </div>
                            <div class="panel-body">
                                <div style="padding: 1.5rem;border: solid #f7f7f9;border-width: 2px;">
                                    <div class="form-group">
                                        <label for="descricaoItem">Produto: </label>
                                        <input type="text" class="form-control" size="20" maxlength="30" id="descricaoItem" ng-model="controller.item.descricaoProduto" data-error="Por favor, informe um produto válido." required/>
                                        <div class="help-block with-errors"></div>

                                    </div>
                                    <div class="form-group col-md-2" style="padding-left: 0px">
                                        <label for="quantidadeItem">Quantidade: </label>
                                        <input type="number"  min="1" max="999" class="form-control" id="quantidadeItem" ng-model="controller.item.quantidade" ng-init="controller.item.quantidade=1" value="1" data-error="Por favor, uma quantidade válida." required/><br>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="valorItem">Valor: </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">R$</span>
                                            <input type="number" size="20" class="form-control" step="0.01" min="0" id="valorItem" placeholder="0.00" ng-model="controller.item.valor" pattern="^\d+(?:\.\d{1,2})?$" data-error="Por favor, informe um valor válido." required/>
                                        </div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="form-group col-md-10" style="padding-left: 0px">
                                        <button type="submit" class="btn btn-primary" data-ng-click="controller.adicionarItem()">Adicionar  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Ação</th>
                                            <th scope="col">Produto</th>
                                            <th scope="col">Quantidade</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="compraItem in controller.comprasItemList">
                                            <td><button type="submit" class="btn btn-danger btn-sm" data-ng-click="controller.removerItem(compraItem)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                                            <td>{{compraItem.descricaoProduto}}</td>
                                            <td>{{compraItem.quantidade}}</td>
                                            <td>{{compraItem.valor | currency : "R$ "}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- fim .panel-body -->
                        </div><!-- fim .panel -->
                        <div class="form-group">
                            <button type="button" class="btn btn-success" data-ng-click="controller.salvar()">Salvar</button>
                            <button type="button" class="btn btn-danger" ng-confirm-click="Deseja mesmo cancelar?" confirmed-click="controller.clean()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div data-ng-show="!controller.compra">
                <button type="button" class="btn btn-primary" data-ng-click="controller.novo()">Nova compra</button><br>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Data de Cadastro</th>
                        <th scope="col">Data de Alteração</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="compra in controller.compras">
                        <td>{{compra.compras.id}}</td>
                        <td>{{compra.compras.nome}}</td>
                        <td>{{compra.compras.descricaoStatus}}</td>
                        <td>{{compra.compras.dataCadastroFormatada}}</td>
                        <td>{{compra.compras.dataAlteracaoFormatada}}</td>
                        <td>R$ {{compra.compras.totalCompras}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-ng-click="controller.alterar(compra)">Alterar</button>
                            <button type="button" class="btn btn-danger" ng-confirm-click="Você tem certeza de que deseja remover?" confirmed-click="controller.deletar(compra)">Excluir</button>
                            <!--<button type="button"-->
                            <!--data-ng-show="compra.status !== 'FECHADO'"-->
                            <!--data-ng-click="controller.concluir(compra)">Concluir</button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group" data-ng-show="!controller.compra">
                <label for="totalGeral">Total Geral: </label>
                <input type="text" disabled id="total" placeholder="R$ " step="0.01" pattern="^\d+(?:\.\d{1,2})?$" ng-model="controller.total | currency : 'R$ '"><br>
            </div>
        </div>
    </div>
    <script src="resources/angular.js"></script>
    <script src="resources/app.js"></script>
    <script src="resources/validator.min.js"></script>
</body>
</html>
